{% load static %}

<div class="container card">
  <div class="row"><h4 class="text-center">Stock Purchase History</h4></div>
    <table class="table card-body">
      <thead>
        <tr>
          <th scope="col">Stock</th>
          <th scope="col">Quantity</th>
          <th scope="col">Purchase Value</th>
          <th scope="col">Date</th>
    
        </tr>
      </thead>
      <tbody>
        
        {% for stock in stocks %}
        <tr id>
          <th scope="row" id="sym{{ stock.id }}">{{ stock.symbol }}</th>
          <!-- <td>{{ stock.symbol }}</td> -->
          <td id="qty_{{ stock.id }}">{{ stock.quantity }}</td>
          <td id="vlu_{{ stock.id }}">{{ stock.value }}</td>
          <td id="dte_{{ stock.id }}">{{ stock.stockbuydate }}</td>
     
        </tr>
        {% endfor %}
      </tbody>
    </table>

 
 
</div>
