{% load static %}

<div class="container">
  <form method="POST" name ="portfolio">
    {% csrf_token %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Stock</th>
          <th scope="col">Quantity</th>
          <th scope="col">Value</th>
          <th scope="col">Date</th>
          <th scope="col">Select</th>
        </tr>
      </thead>
      <tbody>
        {% for stock in stocks %}

        <tr id>
          <th scope="row" id="sym{{ stock.id }}">{{ stock.symbol }}</th>
          <!-- <td>{{ stock.symbol }}</td> -->
          <td id="qty_{{ stock.id }}">{{ stock.quantity }}</td>
          <td id="vlu_{{ stock.id }}">{{ stock.value }}</td>
          <td>{{ stock.stockbuydate }}</td>
          <td><input type="radio" id={{ stock.id}} name="stock_choice" ></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div id="stockSymVlu"></div>
  </form>
  
  <script src="{% static 'js/main.js' %}"></script>
</div>
