{% load static %}

<div class="container card">
  <div class="row">
    <h4 class="text-center">Stock Purchase History</h4>
  </div>
  <table class="table card-body">
    <thead>
      <tr>
        <th scope="col">Stock</th>
        <th scope="col">Quantity</th>
        <th scope="col">Purchase Value</th>
        <th scope="col">Date</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>

      {% for stock in stocks %}
      <tr id>
        <th scope="row" id="sym{{ stock.id }}">{{ stock.symbol }}</th>
        <!-- <td>{{ stock.symbol }}</td> -->
        <td id="qty_{{ stock.id }}">{{ stock.quantity }}</td>
        <td id="vlu_{{ stock.id }}">{{ stock.value }}</td>
        <td id="dte_{{ stock.id }}">{{ stock.stockbuydate }}</td>
        <td id="act_{{ stock.id }}">{{ stock.action }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div > Shares Owned:<span id="stockQtyVlu"> {{ stock_quant }} </span> </div>
  <div id="stockSymVlu"></div>


  <form onsubmit="return checkForm(this)" action="{% url 'sell_stock'  stocks.0.symbol  %}" method="POST" class="card-body searchForm">
    {% csrf_token %}


  <div class="input-group ">
      <input class="form-control me-2" id="quantity" type="number" name="quantity"  placeholder="Quantity" min="1" max="10000">
    
      <input class="form-control me-2" id="current_price" type="number" name="current_price" value='{{ stock_info.currentPrice }}' readonly>
    
      <button type="submit" class="btn btn-info " name="sell_btn" id="sell_btn" >Sell</button>
    
  </div>
  <small>* To avoid duplicate submition, please wait for page to update before clicking on submit again. </small>
</form>
<script src="{% static 'js/portfolio.js' %}"></script>
</div>