{% if stock_info %}

<div class="card ">
  <div class="row"><h4 class="text-center">Current Stock Information</h4></div>
<div class="card-body">

  <div class="row stockData">
    <div class="col">
      <h5>Symbol:</h5>
    </div>
    <div class="col">{{ stock_info.symbol }}</div>
  </div>


  <div class="row stockData">
    <div class="col">
      <h5>Previous Close:</h5>
    </div>
    <div class="col">{{ stock_info.previousClose }}</div>
  </div>

  <div class="row stockData">
    <div class="col">
      <h5>Open:</h5>
    </div>
    <div class="col">{{ stock_info.open }}</div>
  </div>

  <div class="row stockData">
    <div class="col">
      <h5>Day High:</h5>
    </div>
    <div class="col">{{ stock_info.dayHigh }}</div>
  </div>

  <div class="row stockData">
    <div class="col">
      <h5>Day Low:</h5>
    </div>
    <div class="col"> {{ stock_info.dayLow }}</div>
  </div>

  <div class="row stockData">
    <div class="col">
      <h5>10 Day Average Volume:</h5>
    </div>
    <div class="col"> {{ stock_info.averageVolume10days }} </div>
  </div>


  <div class="row stockData">
    <div class="col">
      <h5>Current Price:</h5>
    </div>
    <div class="col">{{ stock_info.currentPrice }}</div>
  </div>


</div>
</div>
{% endif %}